<!DOCTYPE html>
<html>
  <head>
    <title>CoolPicturesSpace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-header">
        <%= link_to "CoolPicturesSpace", root_path, class: "navbar-brand" %>
      </div>
      
      <div class="navbar-menu">
        <ul class="navbar-nav">
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Login", '#' %></li>
          <li><%= link_to "Register", '#' %></li>
        </ul>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
